.instructors-container {
  padding: 700px 20px 50px;
  min-height: 100%;
  background-color: #FAF8F6;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}


.instructors-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.instructor-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.instructor-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.instructor-info h2 {
  font-size: 36px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #758081;
  margin-bottom: 10px;
}

.instructor-info p {
  font-size: 20px;
  color: #DFD1C9;
  margin: 0;
  line-height: 1.5;
}

.instructor-info p strong {
  color: #DFD1C9;
  font-weight: 600;
}

.instructor-image {
  width: 400px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  object-fit: cover;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}