# Ignore build artifacts
target/
out/
build/
*.class
*.jar

# Ignore IDE and OS files
*.log
*.swp
*.swo
*.bak
*.tmp
.DS_Store
.idea/
.vscode/
*.iml

# Ignore Git and Node modules
.git/
.gitignore
node_modules/
npm-debug.log
