/* App.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fdfaf7; /* główne tło strony */
}

.navbar-wrapper {
  background-color: #DFD1C9; /* kolor tła navbaru */
}

.app-content {
  padding-top: 90px; /* kompensuje navbar wysokość */
}
