
html, body {
  margin: 0;
  font-family: 'Inter', sans-serif;
    min-height: 100%;
  background-color: #FAF8F6;
}

.navbar-wrapper {
  background-color: #DFD1C9;
}

.app-content {
  padding-top: 90px;
}
